$break-smallest: 480px
$break-small: 640px
$break-medium: 780px
$break-big: 980px
$break-large: 1180px



@media screen and (max-width: $break-large) 
	.banner__heading
		margin-top: 10vh

	.banner__description
		max-width: 50%	

	#name, #email
		width: 50px
		-moz-box-sizing: border-box
	    -webkit-box-sizing: border-box
	    box-sizing: border-box
	    display: block


@media screen and (max-width: $break-big) 
	
	.banner__heading
		font-size: 46px;

	.main-menu__item
		&:last-child
			margin-right: 15px	

	
	.section__heading
		margin: 50px auto

	
	.team__item__pic img, .team__item__pic
		display: block
		width: 150px
		height: 150px
		margin: 0 auto

	
	.team__item__name	
		margin-top: 20px
		font-size: 18px


@media screen and (max-width: $break-medium) 
	
	.main-menu--mobile
		position: absolute
		display: block
		width: 40px
		height: 98px
		right: 0
		top: 0
		cursor: pointer
		span
			display: block
			width: 30px
			height: 2px
			background: #49cbcd
			border-radius: 1px
			position: absolute
		&.active
			.main-menu--mobile-middle
				opacity: 0
				transition: all .5s
			.main-menu--mobile-top
				top: 45px
				transform: rotate(45deg)
				transition: all .5s	
			.main-menu--mobile-bottom
				top: 45px
				transform: rotate(-45deg)
				transition: all .5s		

	.main-menu__list
		display: block
		position: absolute
		top: 97px
		width: 100%
		max-width: 320px
		text-align: center
		right: -500px
		transition: all .5s
  		

	.main-menu__list.active	
		
		right: 0
		transition: all .5s	
	    
	.main-menu__item
		display: block	
		background: #fff
		width: 100%
		max-width: 320px
		height: auto

	.main-menu__link
		padding: 10px 30px
		height: auto
		display: inline-block	
		width: 100%
		&:hover
			padding-bottom: 7px	

	.main-menu--mobile-top
		top: 40px
		transition: all .5s

	.main-menu--mobile-middle			
		top: 50px
		opacity: 1
		transition: all .5s

	.main-menu--mobile-bottom
		top: 60px
		transition: all .5s	


		
	.banner__heading
		font-size: 40px
		

	.banner__description	
		font-size: 18px

	.banner__btn
		margin-top: 40px	

	.slider-item img 
		height: 100vh
		min-height: 320px	
		
	.section__heading
		font-size: 26px

	.team
		padding-top: 0	

	.team__list
		@include flexWrap
		
	.team__item
		width: 45%

	.plans__item__heading, .plans__item__price
		padding: 10px
		font-size: 16px	

	.plans__item__benefit
		font-size: 14px
		padding: 10px

	.contacts
		padding: 10px 0

	.contacts__holder
		margin-top: 0
		@include flexbox
		@include flexWrap
		@include justifyContentCenter
		text-align: center

	.contacts__info
		width: 98%
		margin: 0 auto
		text-align: center	

	.social-list
		width: 98%
		@include justifyContentCenter

	.contacts__form-holder
		width: 98%
		margin-left: 0
		margin-top: 20px
		max-width: 500px
		text-align: center


	.submit__btn
		float: none
		margin: 20px auto
		font-size: 16px

@media screen and (max-width: $break-small) 
	
	.banner__text
		@include justifyContentCenter

	.banner__heading
		margin-top: 100px
		margin-left: 0
		font-size: 32px

	.banner__description
		font-size: 14px	
		max-width: 55%

	.plan__btn	
		font-size: 14px
		padding: 10px 25px

@media screen and (max-width: $break-smallest)
	
	html, body
		min-width: 320px

	.banner__heading 
		font-size: 28px;
		
	.team__item, .plans__item
		width: 80%
		margin: 20px auto
	.plans__list
		@include flexWrap

	.slider-item
		img
			min-height: auto
	.banner__slider__next
		margin-right: 10px

	.banner__slider__prev
		margin-left: 10px	

	.banner__text
		height: 100%		